<h1>Add New Genre</h1>
<div class="container">
    <form action="/addGenre" method="POST">
        <label for="movieTitle">Genre</label>

        <input type="text" id="movieTitle" name="name" placeholder="Meme genre">
        <input type="submit" value="Submit">
    </form>
</div>