<form method="post" class="form center-form">
    <h2>Login</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="input-field" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="input-field" />
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="form-btn btn" />
    </div>
</form>