<form method="post" class="form center-form">
    <h2>Register User</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="input-field" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="input-field" />
    </div>
    <div class="form-group">
        <label for="confirmedPassword">Confirm Password</label>
        <input id="confirmedPassword" name="confirmedPassword" type="password" class="input-field" />
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" class="input-field" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" type="text" class="input-field" />
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input id="age" name="age" type="number" class="input-field" />
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender" name="gender" class="input-field">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="form-btn btn" />
    </div>
</form>