<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopStop</title>

    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/site.css">

</head>

<body>
    <header>
        <nav class="nav">
            <ul>
                <li>
                    <a href="/">Home Page</a>
                </li>
                <li>
                    <a href="/product/add">Add Product</a>
                </li>
                <li>
                    <a href="/category/add">Add Category</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        {{{body}}}

    </main>

    <footer>
        <p>&copy; ShopStop</p>
    </footer>
</body>

</html>