<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doner Place</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <span class="logo">Doner  Place</span>

            {{#if currentUser}}
            <span class="greeting">Welcome, {{currentUser.username}}! | <a href="/logout">[logout]</a></span>
            {{/if}}

            <ul class="menu">
				<li><a class="button" href="/">Home</a></li>

                {{#if currentUser}}
                <li><a class="button" href="/myOrders">My Orders</a></li>
                {{/if}}
                
                {{#if currentUser.isAdmin}}
				<li><a class="button" href="/allOrders">All Orders</a></li>                
				<li><a class="button" href="/createProduct">CreateProduct</a></li>
                {{/if}}

                {{#if currentUser}}
                {{else}}
                <li><a class="button" href="/login">Login</a></li>
                <li><a class="button" href="/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            {{#if globalError}}
            <span>{{globalError}}</span> 
            {{/if}} 

            {{{body}}}
        </main>
        <footer>Doner Place &copy; 2017</footer>
    </div>
</body>
</html>