<form id="search-form">
  <input type="text" name="query" placeholder="Search...">
  <input type="submit" value="Search">
</form>

<h1 class="head-title">Welcome to ShopStop!</h1>

<div class="cards">
  {{#each products}}
    <div class="product-card">
      <img class="product-img" src="{{this.image}}">
      <h2>{{this.name}}</h2>
      <p>{{this.description}}</p>
    </div>
  {{else}}
  <p>No products</p>
  {{/each}}
</div>