<form action="/addCar" method="POST">
    <label for="brand">Brand: </label>
    <input type="text" name="brand" placeholder="Car's brand"> <br>

    <label for="brand">Model: </label>
    <input type="text" name="model" placeholder="Car's model"> <br>
    
    <label for="brand">Year: </label>
    <input type="number"  name="year" placeholder="Car's year"> <br>

    <label for="image">Image: </label>
    <input type="text" name="image" placeholder="Image's URL"> <br>

    <input type="submit" value="Add car">
</form>